mixin list(text, text1, text2, text3, text4, text5, text6 )

    ul.menu__list
        li.item #{text}
        li.item #{text1} 
        li.item #{text2}
        li.item #{text3}
        li.item #{text4}
        li.item #{text5}
        li.item #{text6}